version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    labels:
      - "com.mycompany.metrics=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - monitoring_network

  prometheus:
    image: prom/prometheus:v2.30.3
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - monitoring_network

  grafana:
    image: grafana/grafana:8.2.2
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - monitoring_network

networks:
  monitoring_network:

volumes:
  grafana-storage:
